body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  padding: 80px 40px;
}

main a {
  color: #333;
   text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/Dog-image-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

header h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.5;
}


header h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  color: #0000ff;
  display: inline-block;
  padding: 12px 24px;
}

footer {
  color: white;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
}
  

@media (max-width: 800px){
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
     grid-template-columns: 1fr;
  }
}
